<style>
    body {
      font-family: Verdana, sans-serif;
      margin: auto;
      padding: 20px;
      max-width: 720px;
      text-align: left;
      word-wrap: break-word;
      overflow-wrap: break-word;
      line-height: 1.5;
      background-color: #fadff1;
      color: #392c32;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
      color: #211a1e;
    }
  
    a {
      color: #8a025c;
    }

    .title {
      text-decoration: none;
      border: 0;
    }
  
    .title span {
      font-weight: 400;
    }
  
    nav a {
      margin-right: 10px;
    }
  
    textarea {
      width: 100%;
      font-size: 16px;
    }
  
    input {
      font-size: 16px;
    }
  
    content {
      line-height: 1.6;
    }
  
    table {
      width: 100%;
    }
  
    img {
      max-width: 100%;
    }
  
    code {
      padding: 2px 5px;
      background-color: #e5ccde;
    }
  
    pre code {
      color: #392c32;
      display: block;
      padding: 20px;
      white-space: pre-wrap;
      font-size: 14px;
      overflow-x: auto;
    }
  
    div.highlight pre {
      background-color: initial;
      color: initial;
    }
  
    div.highlight code {
      background-color: unset;
      color: unset;
    }
  
    blockquote {
      border-left: 1px solid #b09ca9;
      color: #392c32;
      padding-left: 20px;
      font-style: italic;
    }
  
    footer {
      padding: 25px;
      text-align: center;
    }
  
    /* blog posts */
    ul.blog-posts {
      list-style-type: none;
      padding: unset;
    }
  
    ul.blog-posts li {
      display: flex;
    }
  
    ul.blog-posts li span {
      flex: 0 0 130px;
    }
  
    @media (prefers-color-scheme: dark) {
      body {
        background-color: #392c32;
        color: #fadff1;
      }
  
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      strong,
      b {
        color: #f9ecf5;
      }
  
      a {
        color: #fdb6e5;
      }

      code {
        background-color: #604552;
      }
  
      pre code {
        color: #e3cadb;
      }
  
      blockquote {
        border-left: 1px solid #806270;
        color: #e3cadb;
      }
  
      textarea,
      input {
        background-color: #252525;
        color: #ddd;
      }
    }
  
  </style>
  